#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 3em;
    width: 100%;
    margin: 2em 0;
}
.form {
    width: 100%;
    margin: 2em 0;
  }
#login .form {
    background-color: #f1f1f1;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
}

#login .field {
    padding-bottom: 0.5rem;
}

#login .field label{
    display: block;
    margin-bottom: 0.6em;
    font-weight: bold;
}

#login .field input {
    width: 100%;
    padding: 0.7em;
    border-radius: 0;
    border: none;
}

#login .actions {
    text-align: center;
    margin-top: 0.5rem;
}
.newlocal_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
  }
  
  .newlocal_container h1 {
    margin-bottom: 0.5em;
  }
  
  .newlocal_container p {
    color: #7b7b7b;
  }
  