.login_container {
  width: 450px;
  margin: 0 auto;
  padding: 3em;
}
  
.login_container h1 {
  margin-bottom: 0.5em;
}
  
.login_container p {
  color: #7b7b7b;
}
.form {
  width: 100%;
  margin: 2em 0;
}
.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_control label {
  margin-bottom: 0.6em;
  font-weight: bold;
}

.form_control input {
  padding: 0.7em;
  border-radius: 0;
  border: none;
}

.form_control input::placeholder {
  color: #7b7b7b;
}

.textInputLogin {
  height: 48;
  margin: 12;
  margin-top: 100;
  border-width: 0;
  padding: 15;
  border-radius: 14;
  background-color: '#F7F8F8';
  align-content: 'center';
  overflow: 'hidden';
} 

.textInputSenha{
  height: 48;
  margin: 12;
  margin-top: 5;
  border-width: 0;
  padding: 15;
  border-radius: 14 ;
  background-color: '#F7F8F8';
  align-content: 'center'
}
.headerText {
  font-size: 18;
  line-Height: 30;
  font-Weight: 'bold';
  letter-Spacing: 0.25;
  color: '#ffbb33';
  align-Self: 'center';
  margin-Top: 28;
}
.buttonStyle {
  background-Color: '#222';
  color: '#ffbb33';
  margin-Left: 50;
  margin-Right: 50;
  margin-Top: 5;
  margin-Bottom: 5;
}